In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
os.chdir('C:/Users/Shlagha Rastogi/Downloads/Semester 2/Machine Learning/Assignments')

In [3]:
q2 = pd.read_csv('h1b_kaggle.csv')

In [4]:
q2.head()

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016.0,"PLANO, TEXAS",-96.698886,33.019843
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016.0,"DENVER, COLORADO",-104.990251,39.739236
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003

In [5]:
q2.columns

Index(['Unnamed: 0', 'CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'YEAR', 'WORKSITE', 'lon',
       'lat'],
      dtype='object')

In [6]:
q2['Unnamed: 0'].unique() # drop
q2['CASE_STATUS'].unique() #na, 7, cat
q2['EMPLOYER_NAME'].unique() # drop
q2['SOC_NAME'].unique() # drop
q2['JOB_TITLE'].unique() # drop
q2['FULL_TIME_POSITION'].unique() #na, y/n, cat
q2['PREVAILING_WAGE'].unique() #num
q2['YEAR'].unique() #na, num
q2['WORKSITE'].unique() # drop
q2['lon'].unique() # num
q2['lat'].unique() # num

array([42.2808256, 33.0198431, 40.7281575, ..., 40.1767688, 37.4274745,
       40.6367682])

In [7]:
q2.isna().sum()

Unnamed: 0                 0
CASE_STATUS               13
EMPLOYER_NAME             59
SOC_NAME               17734
JOB_TITLE                 43
FULL_TIME_POSITION        15
PREVAILING_WAGE           85
YEAR                      13
WORKSITE                   0
lon                   107242
lat                   107242
dtype: int64

In [8]:
q2.shape

(3002458, 11)

In [9]:
q2 = q2.drop(['Unnamed: 0', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE', 'WORKSITE'],1)

In [10]:
q2.head()

,CASE_STATUS,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,lon,lat
0,CERTIFIED-WITHDRAWN,N,36067.0,2016.0,-83.743038,42.280826
1,CERTIFIED-WITHDRAWN,Y,242674.0,2016.0,-96.698886,33.019843
2,CERTIFIED-WITHDRAWN,Y,193066.0,2016.0,-74.077642,40.728158
3,CERTIFIED-WITHDRAWN,Y,220314.0,2016.0,-104.990251,39.739236
4,WITHDRAWN,Y,157518.4,2016.0,-90.199404,38.627003

In [11]:
q2.dropna(subset=['CASE_STATUS', 'FULL_TIME_POSITION', 'YEAR', 'PREVAILING_WAGE', 'lon', 'lat'], inplace=True)

In [12]:
q2.head()

,CASE_STATUS,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,lon,lat
0,CERTIFIED-WITHDRAWN,N,36067.0,2016.0,-83.743038,42.280826
1,CERTIFIED-WITHDRAWN,Y,242674.0,2016.0,-96.698886,33.019843
2,CERTIFIED-WITHDRAWN,Y,193066.0,2016.0,-74.077642,40.728158
3,CERTIFIED-WITHDRAWN,Y,220314.0,2016.0,-104.990251,39.739236
4,WITHDRAWN,Y,157518.4,2016.0,-90.199404,38.627003

In [13]:
q2['FULL_TIME_POSITION'] = pd.get_dummies(q2['FULL_TIME_POSITION'])

In [14]:
q2.head()

,CASE_STATUS,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,lon,lat
0,CERTIFIED-WITHDRAWN,1,36067.0,2016.0,-83.743038,42.280826
1,CERTIFIED-WITHDRAWN,0,242674.0,2016.0,-96.698886,33.019843
2,CERTIFIED-WITHDRAWN,0,193066.0,2016.0,-74.077642,40.728158
3,CERTIFIED-WITHDRAWN,0,220314.0,2016.0,-104.990251,39.739236
4,WITHDRAWN,0,157518.4,2016.0,-90.199404,38.627003

In [15]:
q2.isna().sum()

CASE_STATUS           0
FULL_TIME_POSITION    0
PREVAILING_WAGE       0
YEAR                  0
lon                   0
lat                   0
dtype: int64

In [16]:
X = q2.drop(['CASE_STATUS'],1)
y = q2['CASE_STATUS']

In [17]:
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()
col = list(X)

In [18]:
X = minmax.fit_transform(X)

C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype uint8, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [19]:
X = pd.DataFrame(X, columns = col)
X.head()

   FULL_TIME_POSITION  PREVAILING_WAGE  YEAR       lon       lat
0                 1.0         0.000005   1.0  0.244131  0.561154
1                 0.0         0.000035   1.0  0.201455  0.380981
2                 0.0         0.000028   1.0  0.275968  0.530947
3                 0.0         0.000031   1.0  0.174144  0.511707
4                 0.0         0.000023   1.0  0.222864  0.490069

In [20]:
X.isna().sum()

FULL_TIME_POSITION    0
PREVAILING_WAGE       0
YEAR                  0
lon                   0
lat                   0
dtype: int64

# 1. Logistic Regression

In [21]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(solver='lbfgs', multi_class='multinomial')

In [22]:
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = tts(X, y, test_size = 0.2, random_state = 42)

logreg_model = logreg.fit(X_train, y_train)
logreg_pred = logreg.predict(X_test)
logreg.score(X_test, y_test)

C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

0.8732550528557291

In [23]:
accuracy_score(y_test, logreg_pred)

0.8732550528557291

In [24]:
from sklearn.model_selection import cross_val_score
cross_val_score(logreg, X, y, cv = 5).mean()

C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

0.8714758160148607

# 2. KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 5)  

knn_model = knn.fit(X_train, y_train)
knn_pred = knn.predict(X_test)
knn.score(X_test, y_test)

In [ ]:
accuracy_score(y_test, knn_pred)

In [ ]:
cross_val_score(knn, X, y, cv = 5)

# 3. Decision Tree

In [26]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state = 42)

In [27]:
dtc_model = dtc.fit(X_train, y_train)
dtc_pred = dtc.predict(X_test)
dtc.score(X_test, y_test)

0.8642779549901646

In [28]:
accuracy_score(y_test, dtc_pred)

0.8642779549901646

In [31]:
cross_val_score(dtc, X, y, cv = 5)

C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:652: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

array([0.75650914, 0.69852857, 0.40752708, 0.22566478, 0.37356354])

# 4. Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=100, random_state=42)

In [ ]:
rfc_model = rfc.fit(X_train, y_train)
rfc_pred = rfc.predict(X_test)
rfc.score(X_test, y_test)

In [ ]:
accuracy_score(y_test, rfc_pred)

In [ ]:
cross_val_score(rfc, X, y, cv = 5)

# 5. SVM

In [ ]:
from sklearn import svm

svm = svm.SVC(kernel='linear', C=1)
svm_model = svm.fit(X_train, y_train)
svm_pred = svm.predict(X_test)
svm.score(X_test, y_test)

In [ ]:
accuracy_score(y_test, svm_pred)

In [ ]:
cross_val_score(svm, X, y, cv = 5)